@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    background-color: #031625;
}
/*HEADER STYLE*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    background-color: rgba(3,22,37,255);
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white ;
    text-decoration: none;
}

.logo{
    font-size: 40px;
    cursor: pointer;
    word-spacing: 0.5px;
    color: white;
    margin-left: -150px;
    font-weight: 500;

}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px ;
}

.nav_links li a{
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover{
    color: #bc133e;
}
button{
    padding: 9px 20px;
    background-color: #bc133e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(0,136,169,0.8); 
}

/*MAIN STYLE*/
.info{
    float: left;
    color: white;
    width: 1200px;
    height: 400px;
    margin-top: 100px;
    margin-left: 70px;
    padding: 10px;
}

#title{
    font-size: 50px;
    margin-bottom: 0px;
    max-width: 1200px;
}

.motives{
    position: relative;
    top: 10px;
    font-size: 30px;
    margin-left:25px ;
    margin-bottom: 10px;
    word-spacing: 5px;
}



/*FORM STYLE*/


.formContainer{
    width: 330px;
    height: 500px;
    background-color: #bc133e;
    padding: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 170px;
    border-radius: 7px;
}

h4{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}
#cotacao{
    margin-bottom: 1px;
}


#interesse{
    text-align: center;
    margin-top: 20px;
}



input{
    position: relative;
    top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 30px;
    border-radius: 7px;
}

input[type="submit"]{
    color: black;
    font-weight: bold;
}

input[type="submit"]:hover{
    color: #bc133e;
    font-weight: bolder;
    background: white;
    transition: 0.2s ease-in;
    font-size: 15px;
}



/*FORM STYLE*/
.imageContainer{
    float: left;
    color: white;
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
}

.photo{
    float: left;
	  width: 33.33%;
      margin-left: -100px;
      text-align: center;
}

img{
    width: 100px;
}

.name{
    text-align:center;
    font-size: 20px;
}

.center{
    font-weight: lighter;
    font-size: 15px;
    margin-top: 5px;
}

.imageContainer h1{
margin-bottom: 30px;
margin-left: -20px;
}